body{
    padding-top:30px;
   background-color: rgba(255, 127, 238, 0.308);
    
   display: flex;
   align-items: center;
   justify-content: center;
}

#parent{
    border:2px solid black;
     max-height: 85vh;
    min-width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 30px;
    box-shadow:2px 2px 3px black ;
    background-color:white ;
    border-radius :20px; ;
}
#header{
    font-size: large;
}








/* body{
      background-color:white;
    color:black;

}


.dark_theme{
    background-color: black;
    color:white;
} */
/* 
 body {

   user-select: none;
} 
#parent{
  display: flex;
  flex-direction:row;
}

#draggable {
  text-align: center;

}
#draggable1 {
  text-align: center;
 
}

#draggable2 {
  text-align: center;

} 


.dropzones{
  width: 200px;
  height: 40px;
  background: rgb(43, 220, 226);
  margin: 10px;
  padding: 10px;
} */
#box{
  border:2px dashed;
  padding:20px;
}

.kanban-board{
  display: flex;
  flex-direction: row;

  justify-content: center;
  
}

.column{
  height:150px;
  width:200px;
  border:2px solid black;

}
img{
  height: 300px;
  width:300px
}
#image-gal{
  display: grid;
  grid-template: 300px 300px/300px 300px;
}

.style{
  height: 100px;
  width: 50px;
  border:2px solid black;
}
.userList{
  height: 100px;
  width: 300px;
 
  
}

/* 41 */

.prev{
  position: absolute;
  top:150px;
}

.next{
  position: absolute;
  top:150px;
  right: 10px;

}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* 47 */

.input{
  border:none;
  height: 20px;
  width: 40px;
  border-bottom: 5px solid green;
}

.otp{
    border:none;
  height: 20px;
  width: 40px;
  border-bottom: 5px solid rgb(75, 20, 70);

}